[submodule "crates/typst-es"]
	path = es/typst
	url = https://github.com/typst/typst
	ignore = dirty
[submodule "crates/typst-zh"]
	path = zh/typst
	url = https://github.com/typst/typst
	ignore = dirty
