[submodule "es/typst"]
	path = typst-es
	url = https://github.com/typst/typst.git
[submodule "themes/adidoks"]
	path = themes/adidoks
	url = https://github.com/aaranxu/adidoks.git
[submodule "themes/zola_easydocs_theme"]
	path = themes/zola_easydocs_theme
	url = https://github.com/codeandmedia/zola_easydocs_theme.git
