{% macro docs_sidebar(current_section) %}
<div class="col-lg-5 col-xl-4 docs-sidebar">
    <nav class="docs-links" aria-label="Main navigation">
        {% set data = load_data(path="pages."~lang~".json") %}
        <ul class="list-unstyled">
            {% for item in data %}
                <li>
                    <a class="docs-link{% if current_url == item.route %} active{% endif %}" href="{{ item.route }}">{{ item.title }}</a>
                    {% if item.children %}
                        <ul>
                            {% for child1 in item.children %}
                                <li><a class="docs-link{% if current_url == child1.route %} active{% endif %}" href="{{ child1.route }}">{{ child1.title }}</a></li>
                                {% if child1.children %}
                                    <ul>
                                        {% for child2 in child1.children %}
                                            <li><a class="docs-link{% if current_url == child2.route %} active{% endif %}" href="{{ child2.route }}">{{ child2.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endmacro %}
