      </main>
    </div>
    <footer>
      <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/docs/">Documentation</a></li>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/contact/">Contact Us</a></li>
          <li><a href="/tools/">Tools</a></li>
          <li><a href="/privacy/">Privacy</a></li>
          <li><a href="/terms/">Terms of Service</a></li>
          <li><a href="/legal/">Legal (Impressum)</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="https://twitter.com/typstapp/">Twitter</a></li>
          <li><a href="https://discord.gg/2uDybryKPe">Discord</a></li>
          <li>
            <a rel="me" href="https://mastodon.social/@typst">Mastodon</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/typst/">LinkedIn</a>
          </li>
          <li><a href="https://instagram.com/typstapp/">Instagram</a></li>
          <li>
            <a href="https://github.com/typst-community/typst-docs">GitHub</a>
          </li>
        </ul>
      </div>
      <div><p>Made with ❤️</p></div>
    </footer>
    <script src="/scripts/docs.js?bust=20231006"></script>
    <script src="/scripts/analytics.js" defer></script>
  </body>
</html>
